<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.okkyclone.mapper.BoardMapper">

	<select id="getList" resultType="com.okkyclone.domain.BoardVO">
		SELECT
		b.bno, b.title, b.content,
		b.writer, b.regdate,
		b.viewcnt, b.likecnt, b.dislikecnt, b.replycnt,
		b.cat_id,
		m.user_img,
		c.cat_name,
		c.parent_id AS group_id,
		NVL(p.cat_name, c.cat_name) AS group_name
		FROM
		tbl_board b
		LEFT JOIN
		tbl_member m ON b.writer = m.userid
		LEFT JOIN tbl_category c ON
		b.cat_id = c.cat_id
		LEFT JOIN tbl_category p ON c.parent_id = p.cat_id
		WHERE
		b.bno > 0
		ORDER BY
		b.bno DESC
	</select>

	<insert id="insert">
		INSERT INTO tbl_board (bno, title, content, writer,
		cat_id)
		VALUES (seq_board.nextval, #{title,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{writer,jdbcType=VARCHAR},#{cat_id,jdbcType=VARCHAR})
	</insert>

	<select id="read" resultType="com.okkyclone.domain.BoardVO">
		SELECT
		b.*,
		m.user_img,
		c.cat_name,
		c.cat_slug FROM
		tbl_board b
		LEFT JOIN
		tbl_member m ON b.writer = m.userid
		LEFT JOIN
		tbl_category c ON b.cat_id = c.cat_id WHERE
		b.bno = #{bno}
	</select>

	<update id="updateViewCount">
		UPDATE tbl_board
		SET viewcnt = viewcnt + 1
		WHERE bno =
		#{bno}
	</update>

	<update id="update">
		UPDATE tbl_board
		SET title = #{title},
		content =
		#{content},
		writer = #{writer}
		WHERE bno = #{bno}
	</update>

	<delete id="delete">
		DELETE FROM tbl_board WHERE bno = #{bno}
	</delete>

	<select id="checkLike" resultType="int">
		SELECT COUNT(*) FROM tbl_like
		WHERE bno = #{bno} AND userid = #{userid}
	</select>

	<insert id="insertLike">
		INSERT INTO tbl_like (lno, bno, userid)
		VALUES
		(seq_like.nextval, #{bno}, #{userid})
	</insert>

	<delete id="deleteLike">
		DELETE FROM tbl_like WHERE bno = #{bno} AND userid =
		#{userid}
	</delete>

	<update id="updateDislikeCnt">
		update tbl_board set dislikecnt = dislikecnt +
		#{amount} where bno = #{bno}
	</update>

	<select id="checkLikeLog" resultType="int">
		SELECT COUNT(*) FROM
		tbl_board_like
		WHERE bno = #{bno} AND userid = #{userid} AND type =
		#{type}
	</select>

	<insert id="addLikeLog">
		INSERT INTO tbl_board_like (lno, bno, userid, type)
		VALUES (seq_board_like.nextval, #{bno}, #{userid}, #{type})
	</insert>

	<delete id="removeLikeLog">
		DELETE FROM tbl_board_like
		WHERE bno = #{bno} AND
		userid = #{userid} AND type = #{type}
	</delete>

	<update id="updateLikeCount">
		UPDATE tbl_board
		SET likecnt = likecnt + #{amount}
		WHERE bno = #{bno}
	</update>

	<update id="updateDislikeCount">
		UPDATE tbl_board
		SET dislikecnt = dislikecnt +
		#{amount}
		WHERE bno = #{bno}
	</update>

	<update id="updateReplyCnt">
		update tbl_board set replycnt = replycnt + #{amount}
		where bno = #{bno}
	</update>

	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
			select seq_board.nextval from dual
		</selectKey>
		insert into tbl_board (bno, title, content, writer, cat_id)
		values
		(#{bno,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR}, #{writer,jdbcType=VARCHAR},
		#{cat_id,jdbcType=VARCHAR})
	</insert>

	<select id="getTechList"
		resultType="com.okkyclone.domain.BoardVO">
		SELECT * FROM (
		SELECT
		b.*, c.cat_name
		FROM tbl_board b
		LEFT JOIN
		tbl_category c ON b.cat_id = c.cat_id
		WHERE b.cat_id = 11
		ORDER BY b.bno
		DESC
		)
		WHERE rownum <![CDATA[ <= ]]>
		3
	</select>

	<sql id="criteria">
		<trim prefix="AND (" suffix=")" prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<sql id="criteriaWithParam">
		<trim prefix="AND (" suffix=")" prefixOverrides="OR">
			<foreach item='type' collection="cri.typeArr">
				<trim prefix="OR">
					<choose>
						<when test='type == "T".toString()'>
							title LIKE '%'||#{cri.keyword}||'%'
						</when>
						<when test='type == "C".toString()'>
							content LIKE '%'||#{cri.keyword}||'%'
						</when>
						<when test='type == "W".toString()'>
							writer LIKE '%'||#{cri.keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<select id="getListWithCategory"
		resultType="com.okkyclone.domain.BoardVO">
		SELECT * FROM (
		SELECT /*+ INDEX_DESC(b pk_board) */
		rownum rn, b.bno,
		b.title, b.content, b.writer, b.regdate, b.updatedate,
		b.cat_id,
		c.cat_name, m.user_img, b.viewcnt, b.replycnt, b.likecnt
		FROM tbl_board
		b
		LEFT JOIN tbl_category c ON b.cat_id = c.cat_id
		LEFT JOIN tbl_member m
		ON b.writer = m.userid

		<where>
			1=1

			<if test="category != null and category != ''">
				AND b.cat_id = #{category}
			</if>

			<if test="group != null and group != ''">
				<choose>
					<when test="group == 'qna'"> AND b.cat_id LIKE '1%' </when>
					<when test="group == 'knowledge'"> AND b.cat_id LIKE '2%' </when>
					<when test="group == 'community'"> AND b.cat_id LIKE '3%' </when>
					<when test="group == 'event'"> AND b.cat_id LIKE '4%' </when>
					<when test="group == 'group'"> AND b.cat_id LIKE '5%' </when>
					<when test="group == 'education'"> AND b.cat_id LIKE '6%' </when>
					<when test="group == 'jobs'"> AND b.cat_id LIKE '7%' </when>
					<when test="group == 'contact'"> AND b.cat_id LIKE '8%' </when>
				</choose>
			</if>

			<if test="cri.keyword != null">
				<include refid="criteriaWithParam"></include>
			</if>

			AND rownum <![CDATA[ <= ]]>
			#{cri.pageEnd}
		</where>
		)
		WHERE rn > #{cri.pageStart}
	</select>


	<select id="getMainKnowledgeList"
		resultType="com.okkyclone.domain.BoardVO">
		SELECT * FROM (
		SELECT
		b.BNO,
		b.TITLE,
		b.CONTENT,
		b.WRITER,
		b.REGDATE, b.LIKECNT, b.REPLYCNT,
		c.CAT_NAME
		FROM TBL_BOARD b
		LEFT JOIN
		TBL_CATEGORY c ON b.CAT_ID = c.CAT_ID
		WHERE b.CAT_ID IN (21, 22, 23,
		24, 25)
		ORDER BY b.REGDATE DESC
		)
		WHERE ROWNUM &lt;= 6
	</select>

	<select id="getPopularList"
		resultType="com.okkyclone.domain.BoardVO">
		SELECT * FROM (
		SELECT b.*, c.CAT_NAME,
		<choose>
			<when test="type == 'daily'"> ((b.LIKECNT + b.REPLYCNT) * 10 + (b.VIEWCNT * 0.1))
				as sort_score
			</when>
			<when test="type == 'weekly'"> ((b.LIKECNT + b.REPLYCNT) * 5 + (b.VIEWCNT * 0.5))
				as sort_score
			</when>
			<otherwise> (b.LIKECNT + b.REPLYCNT + b.VIEWCNT) as sort_score
			</otherwise>
		</choose>
		FROM TBL_BOARD b
		LEFT JOIN TBL_CATEGORY c ON b.CAT_ID = c.CAT_ID
		<where>
			<choose>
				<when test="type == 'notice'"> b.cat_id = '81' </when>
				<otherwise> b.REGDATE >= SYSDATE - 365 </otherwise>
			</choose>
		</where>
		ORDER BY
		<choose>
			<when test="type == 'notice'"> b.bno DESC </when>
			<when test="type == 'daily'"> CASE WHEN b.REGDATE >= TRUNC(SYSDATE) - 1 THEN 0
				ELSE 1 END, sort_score DESC
			</when>
			<otherwise> sort_score DESC, b.REGDATE DESC </otherwise>
		</choose>
		)
		WHERE ROWNUM &lt;= 10
	</select>

	<select id="getHotList"
		resultType="com.okkyclone.domain.BoardVO">
		SELECT * FROM (
		SELECT
		b.*, c.cat_name,
		(b.likecnt + b.replycnt) as
		hot_score
		FROM tbl_board b
		LEFT JOIN tbl_category c ON b.cat_id =
		c.cat_id
		<where>
			<choose>
				<when test="type == 'daily'">
					b.regdate >= TRUNC(SYSDATE) - 2
				</when>
				<when test="type == 'weekly'">
					b.regdate >= SYSDATE - 7
				</when>
				<when test="type == 'monthly'">
					b.regdate >= ADD_MONTHS(SYSDATE, -1)
				</when>
				<otherwise>
					b.regdate >= SYSDATE - 365
				</otherwise>
			</choose>
		</where>
		ORDER BY hot_score DESC, b.viewcnt DESC, b.regdate DESC
		)
		WHERE ROWNUM
		&lt;= 5
	</select>

	<select id="getCategoryList"
		resultType="com.okkyclone.domain.BoardVO">
		SELECT * FROM (
		SELECT
		b.bno, b.title, b.content, b.writer, b.regdate,
		b.replycnt, b.likecnt, b.dislikecnt,
		c.cat_name, c.cat_slug, c.cat_id,
		c.parent_id AS group_id, NVL(p.cat_name, c.cat_name) AS group_name
		FROM
		tbl_board b
		LEFT JOIN
		tbl_category c ON b.cat_id = c.cat_id
		LEFT JOIN
		tbl_category p ON c.parent_id = p.cat_id
		<where>
			<if
				test='category != null and category != "전체" and category != ""'>
				AND c.cat_name = #{category}
			</if>
		</where>
		ORDER BY b.bno DESC
		)
		WHERE ROWNUM <![CDATA[ <= ]]>
		20
	</select>

	<select id="getListByParent"
		resultType="com.okkyclone.domain.BoardVO">
    <![CDATA[
    SELECT * FROM (
        SELECT /*+ INDEX_DESC(tbl_board pk_board) */
            rownum rn, b.bno, b.title, b.content, b.writer, b.regdate, b.replycnt, b.likecnt,
            c.cat_name, m.user_img
        FROM 
            tbl_board b
        JOIN 
            tbl_category c ON b.cat_id = c.cat_id
        LEFT JOIN 
            tbl_member m ON b.writer = m.userid
        WHERE 
            c.parent_id = (SELECT cat_id FROM tbl_category WHERE cat_slug = #{parentSlug} AND parent_id IS NULL)
            AND rownum <= #{cri.pageNum} * #{cri.amount}
    )
    WHERE rn > (#{cri.pageNum} - 1) * #{cri.amount}
    ]]>
	</select>

	<select id="getTechKnowledgeList"
		resultType="com.okkyclone.domain.BoardVO">
    <![CDATA[
    SELECT * FROM (
        SELECT 
            b.bno, b.title, b.content, b.writer, b.regdate,
            c.cat_name, m.user_img
        FROM tbl_board b
        JOIN tbl_category c ON b.cat_id = c.cat_id
        LEFT JOIN tbl_member m ON b.writer = m.userid
        WHERE c.parent_id = 20
        ORDER BY b.regdate DESC
    )
    WHERE ROWNUM <= 21
    ]]>
	</select>

	<select id="getTotalCount" resultType="int">
		SELECT count(*) FROM tbl_board
		WHERE bno > 0
		<include refid="criteria"></include>
	</select>

	<select id="getTotal" resultType="int">
		SELECT count(*) FROM tbl_board
		<where>
			<if test="category != null and category != ''">
				cat_id = #{category}
			</if>

			<if test="cri.keyword != null">
				<trim prefix="AND (" suffix=")" prefixOverrides="OR">
					<foreach item="type" collection="cri.typeArr">
						<trim prefix="OR">
							<choose>
								<when test="type == 'T'.toString()">
									title like '%'||#{cri.keyword}||'%'
								</when>
								<when test="type == 'C'.toString()">
									content like '%'||#{cri.keyword}||'%'
								</when>
								<when test="type == 'W'.toString()">
									writer like '%'||#{cri.keyword}||'%'
								</when>
							</choose>
						</trim>
					</foreach>
				</trim>
			</if>
		</where>
	</select>
</mapper>