<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.okkyclone.mapper.BoardMapper">

	<select id="getList" resultType="com.okkyclone.domain.BoardVO">
    <![CDATA[
    SELECT
        b.*, m.user_img, c.cat_name
    FROM
        tbl_board b
    LEFT JOIN tbl_member m on b.writer = m.userid
    LEFT JOIN tbl_category c ON b.cat_id = c.cat_id 
    WHERE
        b.bno > 0
    ORDER BY
        b.bno DESC
    ]]>
	</select>

	<insert id="insert">
		INSERT INTO tbl_board (bno, title, content, writer,
		cat_id)
		VALUES (seq_board.nextval, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
		#{writer,jdbcType=VARCHAR},#{cat_id,jdbcType=VARCHAR})
	</insert>

	<select id="read" resultType="com.okkyclone.domain.BoardVO">
		SELECT
		b.*,
		m.user_img,
		c.cat_name,
		c.cat_slug FROM
		tbl_board b
		LEFT JOIN
		tbl_member m ON b.writer = m.userid
		LEFT JOIN
		tbl_category c ON b.cat_id = c.cat_id WHERE
		b.bno = #{bno}
	</select>

	<update id="updateViewCount">
		UPDATE tbl_board
		SET viewcnt = viewcnt + 1
		WHERE bno =
		#{bno}
	</update>

	<update id="update">
		UPDATE tbl_board
		SET title = #{title},
		content =
		#{content},
		writer = #{writer}
		WHERE bno = #{bno}
	</update>

	<delete id="delete">
		DELETE FROM tbl_board WHERE bno = #{bno}
	</delete>

	<select id="checkLike" resultType="int">
		SELECT COUNT(*) FROM tbl_like
		WHERE bno = #{bno} AND userid = #{userid}
	</select>

	<insert id="insertLike">
		INSERT INTO tbl_like (lno, bno, userid)
		VALUES
		(seq_like.nextval, #{bno}, #{userid})
	</insert>

	<delete id="deleteLike">
		DELETE FROM tbl_like WHERE bno = #{bno} AND userid =
		#{userid}
	</delete>

	<update id="updateDislikeCnt">
		update tbl_board set dislikecnt = dislikecnt +
		#{amount} where bno = #{bno}
	</update>

	<select id="checkLikeLog" resultType="int">
		SELECT COUNT(*) FROM
		tbl_board_like
		WHERE bno = #{bno} AND userid = #{userid} AND type =
		#{type}
	</select>

	<insert id="addLikeLog">
		INSERT INTO tbl_board_like (lno, bno, userid, type)
		VALUES (seq_board_like.nextval, #{bno}, #{userid}, #{type})
	</insert>

	<delete id="removeLikeLog">
		DELETE FROM tbl_board_like
		WHERE bno = #{bno} AND
		userid = #{userid} AND type = #{type}
	</delete>

	<update id="updateLikeCount">
		UPDATE tbl_board
		SET likecnt = likecnt + #{amount}
		WHERE bno = #{bno}
	</update>

	<update id="updateDislikeCount">
		UPDATE tbl_board
		SET dislikecnt = dislikecnt +
		#{amount}
		WHERE bno = #{bno}
	</update>

	<update id="updateReplyCnt">
		update tbl_board set replycnt = replycnt + #{amount}
		where bno = #{bno}
	</update>

	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
			select seq_board.nextval from dual
		</selectKey>
		insert into tbl_board (bno, title, content, writer, cat_id)
		values
		(#{bno,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{writer,jdbcType=VARCHAR}, #{cat_id,jdbcType=VARCHAR})
	</insert>

	<select id="getTechList"
		resultType="com.okkyclone.domain.BoardVO">
		SELECT * FROM (
		SELECT
		b.*, c.cat_name
		FROM tbl_board b
		LEFT JOIN
		tbl_category c ON b.cat_id = c.cat_id
		WHERE b.cat_id = 11
		ORDER BY b.bno
		DESC
		)
		WHERE rownum <![CDATA[ <= ]]>
		3
	</select>

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection='cri.typeArr'>
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{cri.keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{cri.keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{cri.keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<sql id="criteriaWithParam">
		<trim prefix="AND (" suffix=")" prefixOverrides="OR">
			<foreach item='type' collection="cri.typeArr">
				<trim prefix="OR">
					<choose>
						<when test='type == "T".toString()'>
							title LIKE '%'||#{cri.keyword}||'%'
						</when>
						<when test='type == "C".toString()'>
							content LIKE '%'||#{cri.keyword}||'%'
						</when>
						<when test='type == "W".toString()'>
							writer LIKE '%'||#{cri.keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<select id="getListWithPaging"
		resultType="com.okkyclone.domain.BoardVO">
    <![CDATA[
    SELECT * FROM (
        SELECT /*+ INDEX_DESC(tbl_board pk_board) */ 
            rownum rn, b.bno, b.title, b.content, b.writer, b.regdate, b.updatedate,
            m.user_img, c.cat_name
        FROM tbl_board b
        LEFT JOIN tbl_member m ON b.writer = m.userid
        LEFT JOIN tbl_category c ON b.cat_id = c.cat_id
        WHERE 1=1
    ]]>
		<include refid="criteria"></include> 
    <![CDATA[
        AND rownum <= #{cri.pageNum} * #{amount}
    ) WHERE rn > (#{cri.pageNum} - 1) * #{amount}
    ]]>
	</select>

	<select id="getMainKnowledgeList"
		resultType="com.okkyclone.domain.BoardVO">
		SELECT * FROM (
		SELECT
		b.BNO,
		b.TITLE,
		b.REGDATE,
		b.REPLYCNT,
		c.CAT_NAME
		FROM TBL_BOARD b
		LEFT JOIN TBL_CATEGORY c ON b.CAT_ID = c.CAT_ID
		WHERE b.CAT_ID IN ('21', '22', '23', '24', '25') -- 지식/뉴스 그룹의 모든 자식 코드들
		ORDER BY b.REGDATE DESC
		)
		WHERE ROWNUM &lt;= 7
	</select>

	<select id="getPopularList"
		resultType="com.okkyclone.domain.BoardVO">
		SELECT * FROM (
		SELECT b.*, c.CAT_NAME, (b.LIKECNT + b.REPLYCNT) as
		score
		FROM TBL_BOARD b
		LEFT JOIN TBL_CATEGORY c ON b.CAT_ID = c.CAT_ID
		WHERE
		<choose>
			<when test="type == 'daily'">
				b.REGDATE >= TRUNC(SYSDATE)
			</when>
			<when test="type == 'weekly'">
				b.REGDATE >= SYSDATE - 7
			</when>
			<when test="type == 'monthly'">
				b.REGDATE >= ADD_MONTHS(SYSDATE, -1)
			</when>
			<when test="type == 'notice'">
				b.CAT_ID = 1
			</when>
			<otherwise>
				b.REGDATE >= TRUNC(SYSDATE)
			</otherwise>
		</choose>
		ORDER BY score DESC, b.VIEWCNT DESC
		)
		WHERE ROWNUM &lt;= 10
	</select>

	<select id="getHotList"
		resultType="com.okkyclone.domain.BoardVO">
		SELECT * FROM (
		SELECT
		b.*, c.cat_name,
		(b.likecnt + b.replycnt) as
		hot_score
		FROM tbl_board b
		LEFT JOIN tbl_category c ON b.cat_id =
		c.cat_id
		WHERE
		<choose>
			<when test="type == 'daily'"> b.regdate >= TRUNC(SYSDATE) </when>
			<when test="test == 'weekly'"> b.regdate >= SYSDATE - 7 </when>
			<when test="test == 'monthly'"> b.regdate >= ADD_MONTHS(SYSDATE, -1) </when>
			<otherwise> b.regdate >= SYSDATE - 365 </otherwise>
		</choose>
		ORDER BY hot_score DESC, b.viewcnt DESC
		)
		WHERE ROWNUM &lt;= 5
	</select>

	<select id="getCategoryList"
		resultType="com.okkyclone.domain.BoardVO">
		SELECT * FROM (
		SELECT
		b.bno,
		b.title,
		b.content,
		b.writer,
		b.regdate,
		b.replycnt,
		b.likecnt, b.dislikecnt, c.cat_name,
		c.cat_slug
		FROM
		tbl_board b
		LEFT JOIN tbl_category c ON b.cat_id = c.cat_id
		<where>
			<if
				test='category != null and category != "전체" and category != ""'>
				AND c.cat_name = #{category}
			</if>
		</where>
		ORDER BY b.bno DESC
		)
		WHERE ROWNUM &lt;= 20
	</select>

	<select id="getListByParent"
		resultType="com.okkyclone.domain.BoardVO">
    <![CDATA[
    SELECT * FROM (
        SELECT /*+ INDEX_DESC(tbl_board pk_board) */
            rownum rn, b.bno, b.title, b.content, b.writer, b.regdate, b.replycnt, b.likecnt,
            c.cat_name, m.user_img
        FROM 
            tbl_board b
        JOIN 
            tbl_category c ON b.cat_id = c.cat_id
        LEFT JOIN 
            tbl_member m ON b.writer = m.userid
        WHERE 
            c.parent_id = (SELECT cat_id FROM tbl_category WHERE cat_slug = #{parentSlug} AND parent_id IS NULL)
            AND rownum <= #{cri.pageNum} * #{cri.amount}
    )
    WHERE rn > (#{cri.pageNum} - 1) * #{cri.amount}
    ]]>
	</select>

	<select id="getTechKnowledgeList"
		resultType="com.okkyclone.domain.BoardVO">
    <![CDATA[
    SELECT * FROM (
        SELECT 
            b.bno, b.title, b.content, b.writer, b.regdate,
            c.cat_name, m.user_img
        FROM tbl_board b
        JOIN tbl_category c ON b.cat_id = c.cat_id
        LEFT JOIN tbl_member m ON b.writer = m.userid
        WHERE c.parent_id = 20
        ORDER BY b.regdate DESC
    )
    WHERE ROWNUM <= 21
    ]]>
	</select>

	<select id="getListWithCategory"
		resultType="com.okkyclone.domain.BoardVO">
		SELECT
		bno, title, content, writer, regdate, updatedate, cat_id
		FROM (
		SELECT /*+ INDEX_DESC(tbl_board pk_board) */
		rownum rn, bno, title,
		content, writer, regdate, updatedate, cat_id
		FROM tbl_board
		WHERE
		<if test="category != null and category != ''">
			cat_id = #{category} AND
		</if>
		<if test="group != null and group != ''">
			<choose>
				<when test="group == 'qna'">
					cat_id IN ('11', '12', '13') AND
				</when>
				<when test="group == 'knowledge'">
					cat_id IN ('21', '22', '23', '24', '25') AND
				</when>
				<when test="group == 'community'">
					cat_id IN ('31', '32', '33', '34', '35', '36', '37',
					'38', '39') AND
				</when>
				<when test="group == 'event'">
					cat_id IN ('41', '42') AND
				</when>
				<when test="group == 'group'">
					cat_id IN ('51') AND
				</when>
				<when test="group == 'etc_main'">
					cat_id IN ('61', '62', '63', '64') AND
				</when>
				<when test="group == 'contact'">
					cat_id IN ('71', '72', '73', '74', '75') AND
				</when>
			</choose>
		</if>
        <![CDATA[
            rownum <= #{cri.pageEnd, jdbcType=INTEGER}
        ]]>
		)
		WHERE rn > #{cri.pageStart, jdbcType=INTEGER}
	</select>

	<select id="getTotalCount" resultType="int">
		SELECT count(*) FROM tbl_board
		WHERE bno > 0
		<include refid="criteria"></include>
	</select>

	<select id="getTotal" resultType="int">
		SELECT count(*) FROM tbl_board
		<where>
			<if test="category != null and category != ''">
				cat_id = #{category}
			</if>
			<if test="group != null and group != ''">
				<choose>
					<when test="group == 'qna'">
						AND cat_id IN ('tech', 'career', 'etc')
					</when>
				</choose>
			</if>
		</where>
	</select>
</mapper>