<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.okkyclone.mapper.BoardMapper">

	<select id="getList" resultType="com.okkyclone.domain.BoardVO">
		<![CDATA[
	        SELECT
	            b.*, m.user_img
	        FROM
	            tbl_board b
	        LEFT JOIN
	            tbl_member m on b.writer = m.userid
	        WHERE
	            b.bno > 0
	        ORDER BY
	            b.bno DESC
	     ]]>
	</select>

    <insert id="insert">
        INSERT INTO tbl_board (bno, title, content, writer)
        VALUES (seq_board.nextval, #{title}, #{content}, #{writer})
    </insert>

    <select id="read" resultType="com.okkyclone.domain.BoardVO">
        select 
            b.*, m.user_img
        FROM
            tbl_board b
        LEFT JOIN
            tbl_member m on b.writer = m.userid
        WHERE
            b.bno = #{bno}
    </select>

    <update id="updateViewCount">
        UPDATE tbl_board
        SET viewcnt = viewcnt + 1
        WHERE bno = #{bno}
    </update>

    <update id="update">
        UPDATE tbl_board 
        SET title = #{title},
            content = #{content},
            writer = #{writer}
        WHERE bno = #{bno}
    </update>

    <delete id="delete">
        DELETE FROM tbl_board WHERE bno = #{bno}
    </delete>

    <select id="checkLike" resultType="int">
        SELECT COUNT(*) FROM tbl_like WHERE bno = #{bno} AND userid = #{userid}
    </select>

    <insert id="insertLike">
        INSERT INTO tbl_like (lno, bno, userid) 
        VALUES (seq_like.nextval, #{bno}, #{userid})
    </insert>

    <delete id="deleteLike">
        DELETE FROM tbl_like WHERE bno = #{bno} AND userid = #{userid}
    </delete>

    <update id="updateDislikeCnt">
        update tbl_board set dislikecnt = dislikecnt + #{amount} where bno = #{bno}
    </update>
        
    <select id="checkLikeLog" resultType="int">
        SELECT COUNT(*) FROM tbl_board_like 
        WHERE bno = #{bno} AND userid = #{userid} AND type = #{type}
    </select>

    <insert id="addLikeLog">
        INSERT INTO tbl_board_like (lno, bno, userid, type)
        VALUES (seq_board_like.nextval, #{bno}, #{userid}, #{type})
    </insert>

    <delete id="removeLikeLog">
        DELETE FROM tbl_board_like 
        WHERE bno = #{bno} AND userid = #{userid} AND type = #{type}
    </delete>

    <update id="updateLikeCount">
        UPDATE tbl_board 
        SET likecnt = likecnt + #{amount} 
        WHERE bno = #{bno}
    </update>

    <update id="updateDislikeCount">
        UPDATE tbl_board 
        SET dislikecnt = dislikecnt + #{amount} 
        WHERE bno = #{bno}
    </update>

</mapper>