<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.okkyclone.mapper.MemberMapper">
	<insert id="join">
		INSERT INTO TBL_MEMBER (USER_ID, USER_PW, USER_NAME,
		NICKNAME, ENABLED)
		VALUES (#{userId}, #{userPw}, #{userName},
		#{nickname}, 1)
	</insert>

	<resultMap id="memberMap"
		type="com.okkyclone.domain.MemberVO">
		<id property="userId" column="USERID" />
		<result property="userPw" column="USERPW" />
		<result property="userName" column="USERNAME" />
		<result property="nickname" column="NICKNAME" />
		<result property="enabled" column="ENABLED" />
		<result property="job" column="JOB" />
		<result property="bio" column="BIO" />
		<result property="techTags" column="TECH_TAGS" />
		<result property="userImg" column="USER_IMG" />
		<result property="link1" column="LINK1" />
		<result property="link2" column="LINK2" />
		<result property="link3" column="LINK3" />
		<collection property="authList" resultMap="authMap" />
	</resultMap>

	<resultMap id="authMap" type="com.okkyclone.domain.AuthVO">
		<result property="userid" column="USERID" />
		<result property="auth" column="AUTH" />
	</resultMap>

	<select id="read" resultMap="memberMap">
		SELECT
		M.USERID,
		M.USERPW,
		M.USERNAME,
		M.NICKNAME,
		M.ENABLED,
		M.JOB, M.BIO, M.TECH_TAGS, M.USER_IMG, M.LINK1, M.LINK2, M.LINK3, A.USERID
		AS AUTH_USERID,
		A.AUTH
		FROM
		TBL_MEMBER M
		LEFT OUTER JOIN TBL_MEMBER_AUTH A ON M.USERID = A.USERID
		WHERE M.USERID = #{userId}
	</select>
	<update id="updateProfileImg">
		UPDATE TBL_MEMBER
		SET USER_IMG = #{userImg},
		UPDATEDATE = SYSDATE
		WHERE USERID = #{userId}
	</update>

	<update id="updateMemberProfile">
		UPDATE TBL_MEMBER
		SET
		USERNAME = #{userName, jdbcType=VARCHAR},
		NICKNAME = #{nickname, jdbcType=VARCHAR},
		JOB = #{job, jdbcType=VARCHAR},
		BIO = #{bio, jdbcType=VARCHAR},
		TECH_TAGS = #{techTags, jdbcType=VARCHAR},
		USER_IMG = #{userImg, jdbcType=VARCHAR},
		LINK1 = #{link1, jdbcType=VARCHAR},
		LINK2 = #{link2, jdbcType=VARCHAR},
		LINK3 = #{link3, jdbcType=VARCHAR},
		UPDATEDATE = SYSDATE
		WHERE USERID = #{userId, jdbcType=VARCHAR}
	</update>

	<select id="selectActivityList"
		resultType="com.okkyclone.domain.ActivityVO">
		SELECT
		bno, title, regdate, 'BOARD' as type
		FROM tbl_board
		WHERE writer = #{memberId}
		ORDER BY bno DESC
	</select>

	<select id="getActivityByType"
		resultType="com.okkyclone.domain.ActivityVO">
		<choose>
			<when test='type == "post"'>
				SELECT
				bno as "bno", title as "title",
				regdate as
				"activityDate",
				viewcnt as "viewCnt",
				replycnt as "replyCnt",
				'게시글' as
				"categoryName"
				FROM tbl_board
				WHERE writer = #{userId}
				ORDER BY regdate
				DESC
			</when>

			<when test='type == "reply"'>
				SELECT DISTINCT
				b.bno as "bno", r.reply as "title",
				r.replydate as "activityDate",
				b.viewcnt as "viewCnt",
				b.replycnt as
				"replyCnt",
				'댓글활동' as "categoryName"
				FROM tbl_reply r
				JOIN tbl_board b
				ON r.bno = b.bno
				WHERE r.replyer = #{userId}
				ORDER BY r.replydate DESC
			</when>

			<otherwise>
				SELECT bno as "bno", title as "title", regdate as
				"regdate",
				viewcnt as "viewCnt", replycnt as "replyCnt", '게시글' as
				"categoryName"
				FROM tbl_board
				WHERE writer = #{userId}
				ORDER BY regdate
				DESC
			</otherwise>
		</choose>
	</select>

</mapper>