<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.okkyclone.mapper.MemberMapper">

    <insert id="join">
        INSERT INTO tbl_member (userid, userpw, nickname, social_type)
        VALUES (#{userid}, #{userpw}, #{nickname}, 'LOCAL')
    </insert>

    <select id="login" resultType="com.okkyclone.domain.MemberVO">
        SELECT 
            userid, 
            userpw, 
            nickname, 
            user_point as userPoint, 
            user_rank as userRank 
        FROM tbl_member 
        WHERE userid = #{userid, jdbcType=VARCHAR} AND userpw = #{userpw, jdbcType=VARCHAR}
        
    </select>

</mapper>