<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.okkyclone.mapper.MemberMapper">

	<insert id="join">
		INSERT INTO tbl_member (userid, userpw, nickname,
		social_type)
		VALUES (#{userid}, #{userpw}, #{nickname}, 'LOCAL')
	</insert>

	<resultMap id="memberMap"
		type="com.okkyclone.domain.MemberVO">
		<result property="userid" column="userid" />
		<result property="userpw" column="userpw" />
		<result property="nickname" column="nickname" />
		<result property="userImg" column="USER_IMG" />
		<result property="userPoint" column="USER_POINT" />
		<result property="userRank" column="USER_RANK" />
		<result property="regdate" column="REGDATE" />
		<result property="updatedate" column="UPDATEDATE" />
	</resultMap>

	<select id="read" resultMap="memberMap">
		SELECT * FROM TBL_MEMBER WHERE
		USERID = #{userid}
	</select>

	<select id="login" resultType="com.okkyclone.domain.MemberVO">
		SELECT
		userid,
		userpw,
		nickname,
		user_img as userImg,
		user_point as userPoint,
		user_rank as userRank,
		regdate, updatedate
		FROM tbl_member
		WHERE userid = #{userid} AND userpw
		= #{userpw}
	</select>

	<update id="updateProfileImg">
		UPDATE TBL_MEMBER
		SET USER_IMG = #{userImg},
		UPDATEDATE = SYSDATE
		WHERE USERID = #{userid}
	</update>

	<update id="updateMemberProfile">
		UPDATE tbl_member
		SET userName = #{userName},
		nickname = #{nickname},
		job = #{job, jdbcType=VARCHAR},
		bio = #{bio, jdbcType=VARCHAR},
		user_img = #{userImg, jdbcType=VARCHAR},
		ad_agree = #{adAgree, jdbcType=VARCHAR}, push_agree = #{pushAgree,
		jdbcType=VARCHAR}, updatedate = SYSDATE
		WHERE userid = #{userid}
	</update>
</mapper>